<form [formGroup]="form" class="w-100">
  <div class="form-group" *ngFor="let variable of variables">
    <app-form-element
      [form]="form"
      [formElement]="variable"
      class="form-row"
    ></app-form-element>
  </div>
  <div class="form-header" formArrayName="questions">
    <div
      *ngFor="let question of QuestionsForm.controls; let i = index"
      class="border rounded p-2"
    >
      <div *ngIf="!this.options.fixedNumberOfQuestions">
        <i
          class="fas fa-minus-circle fa-lg text-danger"
          (click)="removeQuestion(i)"
        ></i>
      </div>
      <div class="form-group  w-100 mb-5">
        <div [formGroupName]="i">
          <div class="form-row mb-1 ">
            <!-- Question -->
            <label class="col-sm-2 col-form-label" [for]="'q' + (i + 1)">
              {{ 'variables.9' | translate }} {{ i + 1 }}
            </label>
            <div class="col-auto">
              <input
                [id]="'q' + (i + 1)"
                type="text"
                class="form-control"
                [formControlName]="'question'"
              />
            </div>
            <div class="col-auto" *ngIf="options.allowsImageUpload">
              <input
                [id]="'imagebox' + 'q' + (i + 1)"
                type="text"
                class="form-control"
                placeholder="Image url"
                [formControlName]="'questionImage'"
              />
            </div>
            <div class="col-auto" *ngIf="options.allowsImageUpload">
              <input
                type="file"
                placeholder="Upload image"
                (change)="fileChange($event, i, -1)"
              />
            </div>
            <div class="col-auto" *ngIf="this.options.multipleCorrectAnswers">
              {{ 'variables.7' | translate }}
            </div>
          </div>
          <div class="form-row mb-2" *ngIf="options.hasHints">
            <label class="col-sm-2 col-form-label" [for]="'hint'">
              {{ 'variables.13' | translate }}
            </label>
            <div class="col-auto">
              <input
                [id]="'hint' + 'q' + (i + 1)"
                type="text"
                class="form-control"
                [formControlName]="'hint'"
              />
            </div>
          </div>
          <div
            *ngFor="
              let answer of question.get('answers')['controls'];
              let j = index
            "
            [formArrayName]="'answers'"
            class="mb-1"
          >
            <div class="form-row" [formGroupName]="j">
              <!-- Answer -->
              <label
                class="col-sm-2 col-form-label"
                [for]="'a' + (j + 1) + 'q' + (i + 1)"
                *ngIf="
                  !this.options.multipleCorrectAnswers &&
                  this.options.numberOfAnswers > 1
                "
              >
                {{
                  j == 0
                    ? ('variables.7' | translate)
                    : ('variables.8' | translate)
                }}
              </label>
              <label
                class="col-sm-2 col-form-label"
                [for]="'a' + (j + 1) + 'q' + (i + 1)"
                *ngIf="
                  !(
                    !this.options.multipleCorrectAnswers &&
                    this.options.numberOfAnswers > 1
                  )
                "
              >
                {{ 'variables.10' | translate }} {{ j + 1 }}
              </label>
              <div class="col-auto">
                <input
                  [id]="'a' + (j + 1) + 'q' + (i + 1)"
                  type="text"
                  [formControlName]="'answer'"
                  class="form-control"
                />
              </div>
              <div class="col-auto" *ngIf="options.allowsImageUpload">
                <input
                  [id]="'Answerimagebox' + 'a' + (j + 1) + 'q' + (i + 1)"
                  type="text"
                  class="form-control"
                  placeholder="Image url"
                  [formControlName]="'image'"
                />
              </div>
              <div class="col-auto" *ngIf="options.allowsImageUpload">
                <input
                  type="file"
                  placeholder="Upload image"
                  (change)="fileChange($event, i, j)"
                />
              </div>
              <div class="col-auto">
                <input
                  type="checkbox"
                  [value]="true"
                  [formControlName]="'correct'"
                  *ngIf="this.options.multipleCorrectAnswers"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!this.options.fixedNumberOfQuestions">
      <i class="fas fa-plus-circle fa-lg" (click)="addQuestion()"></i>
    </div>
  </div>
</form>
