<div [formGroup]="form">
  <label
    [attr.for]="formElement.key"
    [translate]="formElement.translation"
  ></label>

  <div [ngSwitch]="formElement.controlType">
    <input
      *ngSwitchCase="'textbox'"
      [formControlName]="formElement.key"
      [id]="formElement.key"
      [type]="formElement.type"
    />

    <select
      [id]="formElement.key"
      *ngSwitchCase="'dropdown'"
      [formControlName]="formElement.key"
    >
      <option
        *ngFor="let opt of formElement.options"
        [value]="opt.key"
        [translate]="opt.translation"
      ></option>
    </select>
  </div>
</div>
