<div class="container">
  <div class="row text-center mt-4 mb-2">
    <div class="col-1">
      <i class="fas fa-arrow-circle-left fa-2x" (click)="goBack()"></i>
    </div>
    <div class="col-10">
      <div (pageShow)="ngOnInit()">
        <h2 class=" font-weight-bold " [translate]="pageTitle"></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form ngNativeValidate class="needs-validation" #editTeamForm="ngForm">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="teamname" class="font-weight-bold"
              ><span>{{ 'edit-team.2' | translate }}</span></label
            >
            <input
              class="form-control"
              id="teamname"
              name="teamname"
              [(ngModel)]="name"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="challengeDescription" class="font-weight-bold"
              ><span>{{ 'edit-team.3' | translate }}</span></label
            >
            <textarea
              class="form-control"
              rows="3"
              id="challengeDescription"
              [(ngModel)]="description"
              name="challengeDescription"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="minigameSelection" class="font-weight-bold"
              ><span [translate]="'edit-team.4'"></span
            ></label>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{
                  selectedMiniGameCategory?.categoryName == undefined
                    ? ('edit-team.4' | translate)
                    : (selectedMiniGameCategory.translation | translate)
                }}
              </button>
              <div
                class="dropdown-menu overflow-auto"
                aria-labelledby="dropdownMenuButton"
              >
                <div
                  *ngFor="
                    let miniGameCategory of MiniGameHeaders;
                    let i = index
                  "
                >
                  <h6
                    class="dropdown-header bg-dark text-white"
                    [translate]="'minigameHeaders.' + (i + 1)"
                  ></h6>
                  <a
                    class="dropdown-item"
                    (click)="selectMiniGameCategory(category)"
                    *ngFor="
                      let category of MiniGameCategories[miniGameCategory]
                    "
                    [translate]="category.translation"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="form-group row"
          *ngIf="
            selectedMiniGameCategory &&
            selectedMiniGameCategory.categoryName != 'None'
          "
        >
          <div class="col-md-6">
            <label for="minigameSelection" class="font-weight-bold"
              ><span [translate]="'edit-team.5'"></span
            ></label>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{
                  currentMinigameObject?.data == undefined
                    ? ('edit-team.5' | translate)
                    : (currentMinigameObject.data.translation | translate)
                }}
              </button>
              <div
                class="dropdown-menu overflow-auto"
                aria-labelledby="dropdownMenuButton"
              >
                <a
                  class="dropdown-item"
                  (click)="changeMinigame(minigame.id)"
                  *ngFor="let minigame of MiniGames"
                  [translate]="minigame.translation"
                ></a>
              </div>
            </div>

            <!-- <select
              #minigameDropdown
              id="minigameSelection"
              class="float-right form-control"
              name="MiniGame"
            >
              <option
                *ngFor="let minigame of MiniGames"
                value="{{ minigame.id }}"
                [selected]="currentMinigame == minigame.id"
                [translate]="minigame.translation"
                (click)="changeMinigame(minigame.id)"
              >
              </option>
            </select> -->
            <!-- <button
              class="btn-primary"
              (click)="changeMinigame(minigameDropdown.value)"
              [translate]="'register.8'"
            ></button> -->
          </div>
        </div>
        <app-minigame-vars
          *ngIf="
            currentMinigameObject &&
            selectedMiniGameCategory &&
            selectedMiniGameCategory.categoryName != 'None'
          "
          [minigame]="currentMinigameObject"
          [varsForm]="currentMinigameForm"
          [variables]="challengeMinigameVariables"
        ></app-minigame-vars>

        <div class="form-group row">
          <div class="col-md-6">
            <label for="minigameTagSelection" class="font-weight-bold"
              ><span>{{ 'create-lobby.6' | translate }}</span></label
            >
            <input class="form-control mb-1" [(ngModel)]="tag" name="tag" />
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownTagButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ tag ? tag : 'None' }}
              </button>
              <div
                class="dropdown-menu overflow-auto"
                aria-labelledby="dropdownTagButton"
              >
                <a
                  class="dropdown-item"
                  (click)="tag = item"
                  *ngFor="let item of MiniGameTags"
                  >{{ item }}</a
                >
              </div>
            </div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" [translate]="'edit-team.6'"></th>
              <th scope="col" [translate]="'edit-team.7'"></th>
              <th scope="col" [translate]="'edit-team.8'"></th>
              <th scope="col" [translate]="'edit-team.14'"></th>
              <th scope="col" *ngIf="levels.controls.length > 1"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let level of levels.controls; let i = index">
              <th scope="row">
                {{ i + 1 }}
              </th>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="
                    currentLevelEditing = i;
                    prepareToOpenInstructionsModal();
                    showModal(instructionsModal, {
                      size: 'lg',
                      backdrop: 'static'
                    })
                  "
                >
                  {{ 'edit-team.12' | translate }}
                </button>
                <br />
                <small
                  i
                  *ngIf="
                    levels.at(i).get('instructions').value == '' ||
                    levels.at(i).get('instructions').value == '{}'
                  "
                >
                  <i>{{ 'edit-team.9' | translate }}</i>
                </small>
              </td>
              <td>
                <button
                  class="btn btn-info btn-sm"
                  (click)="
                    currentLevelEditing = i;
                    currentSnapModalIsTemplate = true;
                    showModal(snapModal, {
                      size: 'xl',
                      backdrop: 'static'
                    });
                    loadSnap()
                  "
                >
                  {{ 'edit-team.12' | translate }}</button
                ><br />
                <small i *ngIf="levels.at(i).get('snap').value == ''">
                  <i>{{ 'edit-team.9' | translate }}</i>
                </small>
              </td>
              <td>
                <button
                  class="btn btn-secondary btn-sm"
                  [disabled]="!level.get('solutionEnabled').value"
                  (click)="
                    currentLevelEditing = i;
                    currentSnapModalIsTemplate = false;
                    showModal(snapModal, {
                      size: 'xl',
                      backdrop: 'static'
                    });
                    loadSnap()
                  "
                >
                  {{ 'edit-team.12' | translate }}</button
                ><br />
                <small i *ngIf="levels.at(i).get('snapSolution').value == ''">
                  <i>{{ 'edit-team.9' | translate }}</i>
                </small>
              </td>
              <td>
                <form [formGroup]="level">
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      [id]="'switch' + i"
                      [formControlName]="'solutionEnabled'"
                    />
                    <label
                      class="custom-control-label"
                      [for]="'switch' + i"
                    ></label>
                  </div>
                </form>
              </td>
              <td>
                <i
                  class="fas fa-minus-circle text-danger fa-2x"
                  *ngIf="levels.controls.length > 1"
                  (click)="levels.removeAt(i); removedLevels.push(level.value)"
                ></i>
              </td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <i
                  class="fas fa-plus-circle fa-2x"
                  (click)="levels.push(this.createNewLevel())"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
        <div class=" mb-4" role="group">
          <button
            class="btn btn-success"
            type="button"
            (click)="this.mode == 'edit' ? editTeam() : createTeam()"
            *ngIf="canSaveAndDelete"
          >
            <span>{{ 'edit-team.10' | translate }}</span>
          </button>
          <button
            class="btn btn-danger float-right"
            type="button"
            *ngIf="this.mode == 'edit' && canSaveAndDelete"
            (click)="showModal(deleteConfirmation)"
          >
            <span>{{ 'in-code.23' | translate }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #deleteConfirmation>
  <div class="modal-content">
    <div class="modal-header">{{ 'in-code.24' | translate }}</div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="deleteChallenge()">
        {{ 'in-code.25' | translate }}
      </button>
      <button class="btn btn-success" (click)="closeAllModals()">
        {{ 'in-code.26' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #instructionsModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ 'edit-team.6' | translate }}</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeAllModals()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <quill-editor
        [styles]="{ height: '500px' }"
        [format]="'object'"
        [(ngModel)]="quillService.currentInstructions"
        [modules]="quillModules"
        name="pageBeforeChallengeQuill"
      ></quill-editor>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="closeAllModals()">
        {{ 'edit-team.11' | translate }}
      </button>
      <button
        class="btn btn-success"
        (click)="saveInstructionsForCurrentLevel(); this.closeAllModals()"
      >
        {{ 'edit-team.10' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #snapModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        {{
          currentSnapModalIsTemplate
            ? ('edit-team.7' | translate)
            : ('edit-team.8' | translate)
        }}
      </h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="closeAllModals()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <iframe src="/assets/snap/snap.html" width="100%" height="800"></iframe>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="closeAllModals()">
        {{ 'edit-team.11' | translate }}
      </button>
      <button
        class="btn btn-success"
        (click)="saveSnapForCurrentLevel(); this.closeAllModals()"
      >
        {{ 'edit-team.10' | translate }}
      </button>
    </div>
  </div>
</ng-template>
