<div class="container">
  <div class="text-center row mt-4 mb-2">
    <div class="col">
      <div (pageShow)="ngOnInit()">
        <h2 class=" font-weight-bold " [translate]="pageTitle"></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form ngNativeValidate class="needs-validation" #editTeamForm="ngForm">
        <div class="form-group row">
          <div class="col-md-6">
            <label for="teamname" class="font-weight-bold"
              ><span>{{ 'edit-team.2' | translate }}</span></label
            >
            <input
              class="form-control"
              id="teamname"
              name="teamname"
              [(ngModel)]="name"
              required
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="challengeDescription" class="font-weight-bold"
              ><span>{{ 'edit-team.3' | translate }}</span></label
            >
            <textarea
              class="form-control"
              rows="3"
              id="challengeDescription"
              [(ngModel)]="description"
              name="challengeDescription"
            ></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="minigameSelection" class="font-weight-bold"
              ><span [translate]="'edit-team.4'"></span
            ></label>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{
                  selectedMiniGameCategory?.categoryName == undefined
                    ? 'Select Category'
                    : selectedMiniGameCategory.categoryName
                }}
              </button>
              <div
                class="dropdown-menu overflow-auto"
                aria-labelledby="dropdownMenuButton"
              >
                <div
                  *ngFor="
                    let miniGameCategory of MiniGameHeaders;
                    let i = index
                  "
                >
                  <h6
                    class="dropdown-header"
                    [translate]="'minigameHeaders.' + (i + 1)"
                  ></h6>
                  <a
                    class="dropdown-item"
                    (click)="selectMiniGameCategory(category)"
                    *ngFor="
                      let category of MiniGameCategories[miniGameCategory]
                    "
                    [translate]="category.translation"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="form-group row"
          *ngIf="
            selectedMiniGameCategory &&
            selectedMiniGameCategory.categoryName != 'None'
          "
        >
          <div class="col-md-6">
            <label for="minigameSelection" class="font-weight-bold"
              ><span [translate]="'edit-team.5'"></span
            ></label>
            <select
              #minigameDropdown
              id="minigameSelection"
              class="float-right form-control"
              name="MiniGame"
            >
              <option
                *ngFor="let minigame of MiniGames"
                value="{{ minigame.id }}"
                [selected]="currentMinigame == minigame.id"
                [translate]="minigame.translation"
              >
              </option>
            </select>
            <button
              class="btn-primary"
              (click)="changeMinigame(minigameDropdown.value)"
              [translate]="'register.8'"
            ></button>
          </div>
        </div>
        <app-minigame-vars
          *ngIf="
            currentMinigameObject &&
            (selectedMiniGameCategory &&
              selectedMiniGameCategory.categoryName != 'None')
          "
          [minigame]="currentMinigameObject"
          [varsForm]="currentMinigameForm"
          [variables]="challengeMinigameVariables"
        ></app-minigame-vars>
        <div class="form-group row">
          <ul class="nav nav-tabs" id="challengePages" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="list"
                href="#pageAfterChallenge"
                role="tab"
                [translate]="'edit-team.6'"
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link " data-toggle="list" href="#snap" role="tab" [translate]="'edit-team.7'"
                ></a
              >
            </li>
          </ul>

          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="pageAfterChallenge"
              role="tabpanel"
            >
              <quill-editor
                [styles]="{ height: '500px' }"
                [format]="'object'"
                [(ngModel)]="htmlAfter"
                [modules]="quillModules"
                name="pageBeforeChallengeQuill"
              ></quill-editor>
            </div>

            <div class="tab-pane fade " id="snap" role="tabpanel">
              <div class="row">
                <iframe
                  src="/assets/snap/snap.html"
                  width="1200"
                  height="1000"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group mb-4" role="group">
          <button
            class="btn btn-success"
            type="submit"
            (click)="this.mode == 'edit' ? editTeam() : createTeam()"
          >
            <span>{{ 'edit-team.10' | translate }}</span>
          </button>
          <button class="btn btn-danger" (click)="goBack()">
            <span>{{ 'edit-team.11' | translate }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
