<ngx-spinner size="medium">
  <div class="row">
    <div class="col">
      <p class="loadingText">{{ this.spinner.loadingText | async }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button
        class="loadingButton"
        *ngIf="this.spinner.loadingText.getValue()"
        (click)="reload()"
      >
        {{ 'canvas.17' | translate }}
      </button>
    </div>
    <div class="col"></div>
  </div>
</ngx-spinner>
<app-navbar></app-navbar>
<div toastContainer></div>
<router-outlet></router-outlet>
