<div class="container">
  <div class="col-md-12">
    <h1>{{ 'privacy.1' | translate }}</h1>

    <p>
      {{ 'privacy.2' | translate }}
    </p>

    <p>
      {{ 'privacy.3' | translate }}
    </p>

    <h2>{{ 'privacy.4' | translate }}</h2>
    <p>{{ 'privacy.5' | translate }}</p>

    <p>
      {{ 'privacy.6' | translate }}
    </p>
    <ul>
      <li>{{ 'privacy.7' | translate }}</li>
      <li>{{ 'privacy.8' | translate }}</li>
      <li>
        {{ 'privacy.9' | translate }}
      </li>
      <li>{{ 'privacy.10' | translate }}</li>
    </ul>

    <p>
      {{ 'privacy.11' | translate }}
    </p>

    <p>
      {{ 'privacy.12' | translate }}
    </p>

    <p>
      {{ 'privacy.13' | translate }}
    </p>
    <ul>
      <li>
        {{ 'privacy.14' | translate }}
      </li>
      <li>
        {{ 'privacy.15' | translate }}
      </li>
      <li>
        {{ 'privacy.16' | translate }}
      </li>
      <li>
        {{ 'privacy.17' | translate }}
      </li>
      <li>
        {{ 'privacy.18' | translate }}
      </li>
      <li>
        {{ 'privacy.19' | translate }}
      </li>
    </ul>

    <h2>
      {{ 'privacy.20' | translate }}
    </h2>

    <p>
      {{ 'privacy.21' | translate }}
    </p>

    <h2>
      {{ 'privacy.22' | translate }}
    </h2>

    <p>
      {{ 'privacy.23' | translate }}
    </p>

    <p>
      {{ 'privacy.24' | translate }}
    </p>

    <h2>
      {{ 'privacy.25' | translate }}
    </h2>

    <p>
      {{ 'privacy.26' | translate }}
    </p>

    <h2>
      {{ 'privacy.27' | translate }}
    </h2>

    <p>
      {{ 'privacy.28' | translate }}
    </p>
  </div>
</div>
