<div class="container font-weight-bold mt-4 mb-4">
  <div class="container-fluid" (pageShow)="ngOnInit()" *ngIf="userPriviledged">
    <form>
      <div class="form-group">
        <label for="lobbyName"
          ><span>{{ 'create-lobby.1' | translate }}</span></label
        >
        <input
          class="form-control"
          id="lobbyName"
          name="name"
          [(ngModel)]="lobbyDetails.name"
          [ngClass]="{
            'is-valid': !invalidData.includes('name') && invalidData.length > 0,
            'is-invalid': invalidData.includes('name')
          }"
        />
        <label for="lobbyCode"
          ><span>{{ 'create-lobby.2' | translate }}</span></label
        >
        <input
          class="form-control"
          id="lobbyCode"
          name="code"
          [(ngModel)]="lobbyDetails.code"
          [ngClass]="{
            'is-valid': !invalidData.includes('code') && invalidData.length > 0,
            'is-invalid': invalidData.includes('code')
          }"
        />
      </div>
      <div class="form-group">
        <label for="lobbyDescription"
          ><span>{{ 'create-lobby.3' | translate }}</span></label
        >
        <input
          class="form-control"
          id="lobbyDescription"
          name="description"
          [(ngModel)]="lobbyDetails.description"
          [ngClass]="{
            'is-valid':
              !invalidData.includes('description') && invalidData.length > 0,
            'is-invalid': invalidData.includes('description')
          }"
        />
      </div>
      <div class="form-group">
        <label for="outcome"
          ><span>{{ 'create-lobby.4' | translate }}</span></label
        >
        <input
          class="form-control"
          id="outcome"
          name="outcome"
          [(ngModel)]="lobbyDetails.outcome"
          [ngClass]="{
            'is-valid':
              !invalidData.includes('outcome') && invalidData.length > 0,
            'is-invalid': invalidData.includes('outcome')
          }"
        />
      </div>
      <div class="form-group row">
        <ul class="nav nav-tabs" id="challengePages" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="list"
              href="#pageAfterChallenge"
              role="tab"
              [translate]="'edit-team.6'"
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="list"
              href="#snap"
              role="tab"
              [translate]="'edit-team.7'"
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              data-toggle="list"
              href="#brainstormcanvas"
              role="tab"
              [translate]="'lobby-page.10'"
            ></a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade " id="pageAfterChallenge" role="tabpanel">
          <quill-editor
            [styles]="{ height: '500px' }"
            [format]="'object'"
            [(ngModel)]="lobbyDetails.htmlAfter"
            [modules]="quillModules"
            name="pageBeforeChallengeQuill"
          ></quill-editor>
        </div>

        <div class="tab-pane fade show active" id="snap" role="tabpanel">
          <div class="row">
            <iframe
              src="/assets/snap/snap.html"
              width="1200"
              height="1000"
            ></iframe>
          </div>
        </div>
        <div class="tab-pane fade" id="brainstormcanvas" role="tabpanel">
          <div class="row">
            <app-canvas [canAddNotes]="true"></app-canvas>
          </div>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-success" (click)="saveChanges()">
          <span>{{ 'create-lobby.9' | translate }}</span>
        </button>
        <button class="btn btn-danger" (click)="goBack()">
          <span>{{ 'create-lobby.10' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
