<div class="container">
  <div class="row mt-4 mb-1">
    <div class="col">
      <h1 class="text-center font-weight-bold">
        {{ lobbyDetails?.name }}
      </h1>
      <h2 class="text-center font-weight-normal">
        {{ lobbyDetails?.description }}
      </h2>
    </div>
  </div>
  <div class="row mb-3">
    <div class="container text-center">
      <img
        style="width: 25px;"
        class="mr-1"
        [src]="languageImage"
        *ngIf="languageImage"
      />
      <span
        class="badge badge-pill badge-warning mr-1"
        *ngFor="let tag of lobbyDetails?.tag?.split(';')"
        >{{ tag }}</span
      >
      <span
        class="badge badge-pill badge-primary mr-1"
        *ngFor="let tag of lobbyDetails?.challengetags"
        >{{ tag }}</span
      >
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-dark mr-1"
        routerLink="/lobby/{{ id }}/settings"
        *ngIf="lobbyDetails != null"
      >
        <span i18n>{{ 'lobby-page.2' | translate }}</span>
      </button>
      <button
        routerLink="/lobby/{{ id }}/team/new"
        type="button"
        class="btn btn-dark mr-1"
        *ngIf="
          this.lobbyDetails?.createdby == this.userService.GetUserID() ||
          fullyPriviledgedRoles.includes(this.userService.getRole())
        "
      >
        <span i18n>{{ 'lobby-page.3' | translate }}</span>
      </button>
      <button
        routerLink="/lobby/{{ id }}/solutions/challenges"
        type="button"
        class="btn btn-dark mr-1"
        *ngIf="
          this.lobbyDetails?.createdby == this.userService.GetUserID() ||
          fullyPriviledgedRoles.includes(this.userService.getRole())
        "
      >
        <span i18n [translate]="'lobby-page.8'"></span>
      </button>
      <button
        routerLink="/lobby/{{ id }}/solutions"
        type="button"
        class="btn btn-dark mr-1"
        *ngIf="
          this.lobbyDetails?.createdby == this.userService.GetUserID() ||
          fullyPriviledgedRoles.includes(this.userService.getRole())
        "
      >
        <span i18n [translate]="'lobby-page.9'"></span>
      </button>
      <button
        routerLink="/lobby/{{ id }}/brainstorm"
        type="button"
        class="btn btn-dark mr-1"
        *ngIf="
          this.lobbyDetails?.createdby == this.userService.GetUserID() ||
          fullyPriviledgedRoles.includes(this.userService.getRole())
        "
      >
        <span i18n [translate]="'lobby-page.10'"></span>
      </button>
    </div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col">
      <h2 class="text-center font-weight-bold">
        <span>{{ 'lobby-page.6' | translate }}</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <!-- Left sidebar -->
    <div class="col-sm-4">
      <!-- Creator -->
      <div class="container" *ngIf="lobbyDetails?.creatorusername">
        <h5>
          <i class="fas fa-user-tie mr-2"></i>
          <span class="font-weight-light">{{
            lobbyDetails?.creatorusername
          }}</span>
        </h5>
      </div>
      <div class="container">
        <h5>
          <i class="fas fa-key mr-2"></i>
          <span class="font-weight-light">{{ lobbyDetails?.code }}</span>
        </h5>
      </div>

      <!-- Members -->
      <div class="container">
        <!-- {{ 'lobby-page.14' | translate }} -->
        <h5><i class="fas fa-users"></i></h5>
        <ul class="fa-ul">
          <li *ngFor="let member of members">
            <span class="fa-li"><i class="fas fa-user"></i></span>
            {{ member.username }}
          </li>
        </ul>
      </div>
    </div>
    <!-- Challenges -->
    <div class="list-group col-sm-4">
      <div *ngIf="challenges.length == 0">
        <p
          [translate]="'canvas.13'"
          class="lead display-4 text-center text-muted"
        ></p>
      </div>
      <div
        [sortablejs]="challenges"
        [sortablejsOptions]="SortableJSOptions"
        *ngIf="challenges.length > 0"
      >
        <div *ngFor="let challenge of challenges; let i = index">
          <app-challenge-box
            class="my-3"
            [TopText]="i + 1 + ')' + challenge.name"
            [MiddleText]="challenge.description"
            [BottomText]="
              minigamesService.getMinigameItemByID(challenge.minigame).data[
                'translation'
              ] | translate
            "
            (SettingsClicked)="openChallengeSettings(challenge.id)"
          ></app-challenge-box>

          <div class="col text-center">
            <i
              class="fas fa-arrow-down fa-3x"
              *ngIf="challenges.length != i + 1"
              id="{{ i }}"
            ></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
